* { 
     margin: 0;
     padding: 0;
     border: none;
     box-sizing: border-box;
  }
body{
  font-family: lato, sans-serif;
  font-weight: 300%;
  color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;

}
.row ::after {
  display: table;
  clear: both;

}





